body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #cccccc;
    color: #303030;
}
h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
    font-size: 72px;
    background-image: linear-gradient(to bottom, #004237, #00554b, #007a6e);
    -webkit-background-clip: text;
    color: transparent;
}